@media only screen and (max-width: 700px) {
  // mobile
  .items {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
  .portalpane {
    display: flex;
    flex-direction: column;
  }
  .tabnav {
    flex-direction: column;
    width: 100%;
    margin-left: 0 !important;
    margin-top: 9px !important;
    a {
      width: 100%;
      margin-bottom: 8px;
      justify-content: left;
    }
  }
}

@media only screen and (min-width: 701px) {
  // mobile
  .mobile {
    display: none !important;
  }
}
